<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">

            <a class="navbar-brand" href="#"><i class="fas fa-boxes"></i> DIY Flightcase Preisrechner</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/hrueger/diy-flightcase-calculator"><i class="fab fa-github"></i> GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="flex-shrink-0 pt-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h2>Konfiguration</h2>
                <form>
                    <div class="form-group row">
                        <label class="col-4 col-form-label" for="length">Länge</label>
                        <div class="col-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-ruler-horizontal"></i>
                                    </div>
                                </div>
                                <input id="length" name="length" [(ngModel)]="dimensions.length" placeholder="Länge der Kiste" type="number" class="form-control">
                                <div class="input-group-append">
                                    <div class="input-group-text">cm</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="width" class="col-4 col-form-label">Breite</label>
                        <div class="col-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-ruler-horizontal"></i>
                                    </div>
                                </div>
                                <input id="width" name="width" [(ngModel)]="dimensions.width" placeholder="Breite der Kiste" type="number" class="form-control">
                                <div class="input-group-append">
                                    <div class="input-group-text">cm</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="height" class="col-4 col-form-label">Höhe</label>
                        <div class="col-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-ruler-horizontal"></i>
                                    </div>
                                </div>
                                <input id="height" name="height" [(ngModel)]="dimensions.height" placeholder="Höhe der Kiste" type="number" class="form-control">
                                <div class="input-group-append">
                                    <div class="input-group-text">cm</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4">Sonstiges:</label>
                        <div class="col-8">
                            <div class="custom-control custom-checkbox custom-control" *ngFor="let extra of extras">
                                <input [id]="extra.name" type="checkbox" [name]="extra.name" [(ngModel)]="extra.checked" class="custom-control-input">
                                <label [for]="extra.name" class="custom-control-label">{{extra.name}} (<a [href]="extra.link" target="_blank">Ansehen</a>)</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col">
                <h2>Komponenten</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Anzahl</th>
                            <th>Einheit</th>
                            <th>Preis</th>
                            <th>Gesamtpreis</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Holz</td>
                            <td>{{getWoodArea()}}</td>
                            <td>m²</td>
                            <td>{{woodPricePerM2 | currency:'EUR'}}</td>
                            <td>{{woodPricePerM2 * getWoodArea() | currency:'EUR'}}</td>
                            <td><a [href]="woodLink" target="_blank">Link</a></td>
                        </tr>
                        <tr>
                            <td>Kantenprofil</td>
                            <td>{{getProfileLength()}}</td>
                            <td>m</td>
                            <td>{{profilePricePerM | currency:'EUR'}}</td>
                            <td>{{profilePricePerM * getProfileLength() | currency:'EUR'}}</td>
                            <td><a [href]="profileLink" target="_blank">Link</a></td>
                        </tr>
                        <tr *ngFor="let extra of getCheckedExtras()">
                            <td>{{extra.name}}</td>
                            <td>{{extra.count}}</td>
                            <td>Stück</td>
                            <td>{{extra.price | currency:'EUR'}}</td>
                            <td>{{extra.count * extra.price | currency:'EUR'}}</td>
                            <td><a [href]="extra.link" target="_blank">Link</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light text-center">
    <div class="container">
        <span class="text-muted">&copy; Hannes Rüger, 2020</span>
    </div>
</footer>